





#notificationDropMenuRow {
        
    
    border: 2px rgb(241, 241, 241) solid !important;
}



table, tr,th, thead  {
	border: 2px black solid !important;
    
}


td {
    border: 2px black solid !important;
}

th {
    background-color: #8fd2db !important;
    color: black !important;

}

#boldText {

    font-weight: bolder;
}


#notificationDropMenuText {

    color: #000000 !important;
    font-size: large ;        
}


#sidebar_element{
    color: black;
    font-size: 130%;
}



#sidebar_element:hover {
    background-color: #8cd4da !important; 
    color: black;

}





#toast-container > div {
    opacity:1 !important;
    /* background-color: lightblue !important; */
    color: white !important;
    font-size: 120%;
    font-weight: 700;
    /* border: #494848 solid; */
    width: 30em !important;
}



#mensaje_flash_data_error{
    font-size: 155%; 
}




.modal-header{
    background-image: linear-gradient(white,rgb(241, 241, 241));

}


#barra_superior {

    /* background-image: linear-gradient(#01a2ad,#8cd4da); */
    background-image: linear-gradient(white,rgb(241, 241, 241));
    /* background-color:black; */

}

#sidebar {

    background-image: linear-gradient(rgb(241, 241, 241),#61cbd3);
}






#notification-counter{

    background-color : #5ec0c7;
}

#dropdown-user-nav-bar{
    background-image: linear-gradient(white,rgb(241, 241, 241));
    /* background-color : #71d6dd; */
}
/* #mensaje_flash_data_success, */ /*,  #mensaje_flash_data_status */

/* #mensaje_flash_data_success{
    color:white;
}

#mensaje_flash_data_status{
    color:black;
} */





/* .modal-backdrop { 
    display: none;    
} */
